[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "raspberry_paper_to_cot_pipeline"
version = "0.1.0"
description = "A pipeline for processing research papers"
requires-python = ">=3.7"

[project.scripts]
raspberry-paper-profiler = "raspberry_paper_to_cot_pipeline.paper_profiler:main"

[tool.setuptools.packages.find]
include = ["raspberry_paper_to_cot_pipeline*"]
