---
- name: Main playbook for profiling papers in SQLite database for CoT using a rubric
  hosts: localhost
  vars:
    profiler_preset: "claude-sonnet"
    # profiler_preset: "claude-sonnet-openrouter"
    # profiler_preset: "claude-opus"
    # profiler_preset: "llama-3.2-90b"
    # profiler_preset: "llama-3.1-405b"
    # profiler_preset: "gemini-1.5-pro-002"
    template: "raspberry-paper-profiler.md"
    database: "{{ lookup('env', 'PWD') }}/papers.db"
    order_by: "RANDOM()"
    limit: 1
    inference_results_directory: "{{ lookup('env', 'PWD') }}/results/inference"
    profiler_script: "{{ lookup('env', 'PWD') }}/scripts/raspberry-paper-profiler.py"
    # Use system independent temp dir
    tmp_pdf_path: "/tmp/raspberry-tmp-pdf.pdf"
  tasks:

    - name: "Ensure inference results directory exists: {{ inference_results_directory }}"
      ansible.builtin.file:
        path: "{{ inference_results_directory }}"
        state: directory
        mode: '0755'

    - name: "Fetch papers from SQLite database, limit: {{ limit }}"
      lwe_sqlite_query:
        db: "{{ database }}"
        query: "SELECT id, paper_url FROM papers WHERE processing_status = 'verified' ORDER BY {{ order_by }} LIMIT ?"
        query_params:
          - "{{ limit }}"
      register: paper_results

    - name: Process each paper
      ansible.builtin.include_tasks: raspberry-paper-profiler-profile.yaml
      loop: "{{ paper_results.data }}"
      loop_control:
        loop_var: paper
      vars:
        current_url: "{{ paper.paper_url }}"
        paper_id: "{{ paper.id }}"
