---
- name: Main Playbook for extracting CoT from papers in SQLite database
  hosts: localhost
  vars:
    database: "{{ lookup('env', 'PWD') }}/papers.db"
    limit: 1
    training_file: "{{ lookup('env', 'PWD') }}/results/raspberry-training_data.jsonl"
    inference_results_directory: "{{ lookup('env', 'PWD') }}/results/raspberry-inference-results"
    template: "raspberry-extract-cot.md"
    processing_script: "{{ lookup('env', 'PWD') }}/scripts/raspberry-extract-cot.py"
    # Use system independent temp dir
    tmp_pdf_path: "/tmp/raspberry-tmp-pdf.pdf"
    extraction_preset: "claude-sonnet"
    # extraction_preset: "llama-3.2-90b"
  tasks:

    - name: "Ensure inference results directory exists: {{ inference_results_directory }}"
      ansible.builtin.file:
        path: "{{ inference_results_directory }}"
        state: directory
        mode: '0755'

    - name: "Fetch papers from SQLite database, limit: {{ limit }}"
      lwe_sqlite_query:
        db: "{{ database }}"
        query: "SELECT id, paper_url FROM papers WHERE processing_status = 'ready' ORDER BY id LIMIT ?"
        query_params:
          - "{{ limit }}"
      register: paper_results

    - name: Process each paper
      ansible.builtin.include_tasks: raspberry-paper-to-cot-extraction-extract.yaml
      loop: "{{ paper_results.data }}"
      loop_control:
        loop_var: paper
      vars:
        current_url: "{{ paper.paper_url }}"
        paper_id: "{{ paper.id }}"
